.container {
  font-family: "Ubuntu", sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}
h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
#temperature {
  font-size: 40px;
  margin-left: 30px;
  font-weight: 900;
}

#units {
  position: relative;
  top: -17px;
  font-size: 14px;
}

#description {
  text-transform: capitalize;
}

#celsius {
  color: black;
  text-decoration: none;
}

#fahrenheit {
  color: black;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 15px;
  margin-left: 25px;
}

#date-forecast {
  padding-left: 12px;
  margin-bottom: 5px;
}
